
body{
    background-color:whitesmoke;
}

#Encabezado{
    margin-left:30%;
    width: 70%;
    text-align: center;
    background-color:#87bcc967 ;
    border-radius:10px;
    box-shadow: 10px 10px 10px grey;
}
#ImagenEncabezado{
    width:300px;
    margin-top: -50px;
    margin-left: 20px;
    border:1px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px 10px grey;
}
.Imagen{
    width: 300px;
    margin-left:0px ;
}

.Container{
    margin-left: 30%;
    margin-top: -700px;
    width: 70%;
}

.Margen{
    background-color: #87bcc967;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}
.Columna{
   width: 25%; 
}
